/* Zeroing */
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy-Regular.ttf");
}

body {
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    overflow: hidden;
}

#container {
    height: 100%;
    max-width: 768px;
    max-height: 1040px;
    margin: 0 auto;
}

#photo {
    display: block;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    background-image: url('img/clr.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/circular-cursor.png) 50 50, crosshair;
}

/* .start__logo {
    width: 74%;
    height: auto;
    display: inline-block;
    position: absolute;
    top: 2%;
    left: 50%;
    margin-left: -37%;
}

.start__logo {
    animation: start__logo__cssAnimation 0s 12s forwards;
    visibility: visible;
}

@keyframes start__logo__cssAnimation {
    to {
        visibility: hidden;
    }
} */

h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.start__text {
    display: inline-block;
    font-family: "Gilroy";
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    /* margin-left: -120px; */
}

/* .finish__text {
    display: inline-block;
    font-family: "Gilroy";
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    margin-left: -170px;
}
.finish__text {
    animation: cssAnimation 0s 10s forwards;
    visibility: hidden;
} */




.icon-hand {
    /* display: inline-block; */
    position: absolute;
    top: 30%;
    width: 25%;
    height: auto;
    left: 50%;
    /* transform: translateX(-50%); */
    margin-left: -13%;
}

.button {
    position: absolute;
    padding: 30px 33px;
    left: 50%;
    top: 50%;
    background: #FCD43E;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: "Gilroy";
    font-size: 30px;
    color: #000000;
    text-align: center;
    /* margin-left: -80px; */
    transform: translate(-50%, -100%);
    text-transform: uppercase;
    visibility: hidden;
}

.button_animate {
    /* animation: cssAnimation 0s 12s forwards; */
    animation: cssAnimation 0s 0s forwards;
}

.button:active {
    color: #ccc;
}



@keyframes cssAnimation {
    to {
        visibility: visible;
    }
}